.topnav {
    background-color: #707070;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #d3d3d3;
    color: black;
  }
  

  .topnav a.active {
    background-color: #494949;
    color: white;
  }
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
} */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0px;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
} */
footer {
    margin-top: auto; 
      text-align: center;
      padding: 2rem 0;
      background-color: #333;
      color: white;
    }
* {
    box-sizing: border-box;
  }
  
  .column1 {
    position: relative;
    float: left;
    width: 31.33%;
    padding: 10px;
    /* height: 500px;  */
    overflow: auto;
    margin-top: 4%;
    border-radius: 5%;
    margin: 1%;
    background-color: #ffffff;

  }
  .column2{
    position: relative;
    float: left;
    width: 31.33%;
    padding: 10px;
    /* height: 500px;  */
    overflow: auto;
    margin-top: 4%;
    border-radius: 5%;
    margin: 1%;
    background-color: #fdeaea;
}
.column3{
    position: relative;
    float: left;
    width: 31.33%;
    padding: 10px;
    /* height: 500px;  */
    overflow: auto;
    margin-top: 4%;
    border-radius: 5%;
    margin: 1%;
    background-color: #d9f8e3;
}

  .column h2,h3{
    text-align: center;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

  /* table {
    font-family: arial, sans-serif;
   
    width: 100%;
  }


  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  } */

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0a0a0a;
}

/* Apply styles to table headers */
th {
    background-color: #f0cccc;
}

/* Apply styles to even table rows */
tr:nth-child(even) {
    background-color: #cecece;
}

/* Apply styles to odd table rows */
tr:nth-child(odd) {
    background-color: #fff;
}

/* Apply styles to table cells */
td {
    border: 1px solid #5c5c5c;
    padding: 8px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(156, 156, 156, 0.7);
}

figure {
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
    
}

figure img {
    width: 100%;
    height: 90%;
    
    
}

figure:hover {
    transform: scale(1.05);
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow: auto;
}

figure:hover figcaption {
    opacity: 1;
}

menu {
    list-style-type: none;
    justify-content: center;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    gap: 1em;
  }
  iframe{

    width: 350px;
    height: 200px;
    
  }
  input:focus {
    background-color: rgb(214, 214, 214);
  }

@media screen and (max-width: 768px) {
    .column1{
        float: left;
        width: 100%;
        padding: 10px;

        overflow: auto;
    }
    .column2{
        float: left;
        width: 100%;
        padding: 10px;

        overflow: auto;
    }
    .column3{
        float: left;
        width: 100%;
        padding: 10px;
  
        overflow: auto;
    }
    iframe{

        width: 300px;
        height: 150px;
        
      }
}

@media screen and (max-width: 365px) {
    .column1{
        position: relative;
        float: none;
        width: 100%;
        padding: 10px;
    
        overflow: auto;
    }
    .column2{
        float: left;
        width: 100%;
        padding: 10px;
      
        overflow: auto;
    }
    .column3{
        float: left;
        width: 100%;
        padding: 10px;
     
        overflow: auto;
    }
    iframe{

        width: 250px;
        height: 100px;
        
      }
}
